{{##def.page_title = 'Forgot Password' #}}

{{##def.content:
<!-- <script src='https://www.google.com/recaptcha/api.js'></script>
<script>
	var submitEnabled = false;
	function enableSubmit() {
		submitEnabled = true;
		var s = document.getElementById('forgotSubmit');
		s.style.display = 'block';
	}
</script> -->
<div class="">
    <form action="/sent-recover" method="post" onsubmit="return submitEnabled;">
        <div class="row">
            <div class="large-6 large-offset-2 columns">
                <label>{{=it.T("Enter your email")}}
                    <input type="email" name="email" required/>
                </label>
            </div>
        </div>
	    <!-- <div class="row">
		    <div class="g-recaptcha" data-sitekey="{{=it.recaptchaKey}}" data-callback="enableSubmit"></div>
	    </div> -->
        <div class="row">
            <div class="large-6 large-offset-2 columns">
                <image id="captcha_img" data-url="/captcha" />
                <a id="refresh"><img src="img/icons/refresh.png" class="flags-flag" /></a>
                <p></p>
                <input name="captcha" type="text" placeholder="{{=it.T('input captcha')}}">
            </div>
        </div>	    
	    <div class="row">
		    <div class="large-6 large-offset-2 columns">
			    <input  id="forgotSubmit" style="display: block;" class="button secondary right blue" type="submit" value="{{=it.T('Submit')}}"/>
		    </div>
	    </div>
    </form>
</div>

<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.1.min.js"></script>
<script type="text/javascript">
$('#refresh').click(function() {
    
    var t = $('#captcha_img');
    var url = t.attr('data-url');

    t.prop('src', url + '?_=' + (new Date().getTime()));
});

var t = $('#captcha_img');
var url = t.attr('data-url');
t.prop('src', url + '?_=' + (new Date().getTime()));

</script>
#}}

{{#def.include('./template/main_old')}}