{{##def.page_title = 'Leader Board' #}}

{{##def.content:
<div class="content row panel radius">

    <h5 id="top">{{=it.T("Top 100 players")}}</h5>
    <hr>
    <table class="leaders">
        <thead>
            <tr>
                <td>
                    {{=it.T("Rank")}}
                </td>
                <td>
                    {{=it.T("Player")}}
                </td>
                <td class="ldb-gross">
                    {{?it.sortBy != 'gross_profit'}}<a href="/leaderboard"><i class="fa fa-sort-desc"></i></a>{{?}} {{=it.T("Gross Profit")}} <strong>
                        <a href="/faq?locale={{=it.locale}}#gross-profit"> ?</a></strong>
                </td>
                <td class="ldb-net">
                    {{?it.sortBy != 'net_profit' || it.order != 'DESC' }}<a href="/leaderboard?by=net_desc&locale={{=it.locale}}"><i class="fa fa-sort-desc"></i></a>{{?}} {{=it.T("Net Profit")}} {{?it.sortBy != 'net_profit' || it.order != 'ASC' }}<a href="/leaderboard?by=net_asc&locale={{=it.locale}}"><i class="fa fa-sort-asc"></i></a>{{?}}
                </td>
            </tr>
        </thead>
        <tbody>

            {{~it.leaders :leader:index}}
                <tr>
                    <td>
                        {{=leader.rank}}
                    </td>
                    <td>
                        <a href="/user/{{=leader.username}}?locale={{=it.locale}}">{{=leader.username}}</a>
                    </td>
                    <td>
                        {{#def.format: { n: leader.gross_profit, decimals: 2 } }}
                    </td>
                    <td>
                        {{#def.format: { n: leader.net_profit, decimals: 2 } }}
                    </td>
                </tr>
            {{~}}

        </tbody>
    </table>

    {{?it.leaders.length > 20 }} <a class="border-button red right" href="#top">{{=it.T("Top")}}</a>{{?}}
</div>
#}}

{{#def.include('./template/main_old')}}
