{{##def.page_title = 'Play' #}}

{{##def.content:
    <div id="game-container">
        {{=it.T("Game Loading")}}...
    </div>
    <script>
    	var require = {
	        config: {
	            'main': {
	                name: 'Sherlock'
	            }
	        }
	    };
    </script>
    <!--RequireJs-->
    <script data-main="/scripts/main" src="{{? it.buildConfig }}/scripts/{{=it.buildConfig['main-new.js']}}{{??}}/node_modules/requirejs/require.js{{?}}"></script>

    <!-- Detect the viewport size with css and javascript hack -->
    <div id="handheld-detection"></div>
#}}
{{#def.include('./template/game_new')}}