{{##def.page_title = 'Withdraw Request' #}}

{{##def.content:
<script type="text/javascript">
    function logout() {
        if (document.getElementById('logout') ) {
            if (confirm("Are you sure you want to log out?")) {
                document.getElementById("logout").submit();
            }
        }
    }
</script>
<form action="/logout" method="post" id='logout'></form>
<div class="content row panel radius">

    <div class="settings">
        <div class="small-2 columns">
            <ul class="menu">
                <li>
                    <a href="/account?locale={{=it.locale}}">{{=it.T("Account")}}</a>
                </li>
                <li>
                    <a href="/security?locale={{=it.locale}}">{{=it.T("Security")}}</a>
                </li>                
                <li>
                    <a href="/deposit?locale={{=it.locale}}">{{=it.T("Deposit")}}</a>
                </li>                
                <li>
                    <a href="/withdraw?locale={{=it.locale}}">{{=it.T("Withdraw")}}</a>
                </li>                
                <li class="active">
                   {{=it.T("Transfer")}}
                </li>

                <li>
                    <a href="/support?locale={{=it.locale}}">{{=it.T("Support")}}</a>
                </li>
                <li>
                    <a onclick="logout();">
                        {{=it.T("Logout")}}
                    </a>
                </li>
            </ul>
        </div>
        <div class="small-10 columns sets-content">
            <h4>{{=it.T("Transfer Bits")}}</h4>
            <form action="/transfer-request" method="post">
                <!-- fake fields are a workaround for chrome autofill getting the wrong fields -->
                <input style="display:none" type="text" name="fakeusernameremembered"/>
                <input style="display:none" type="password" name="fakepasswordremembered"/>

                <label for="amount">{{=it.T("Bits amount")}}</label>
                <input type="number" id="amount" name="amount" placeholder="100" min="100" step=".01" required/>
                <label for="to-user"> {{=it.T("User")}}</label>
                <input type="text" id="to-user" name="to-user" required/>
                <label for="password">{{=it.T("Your password")}}</label>
                <input type="password" id="password" name="password" autocomplete="off"/>
                {{?it.user.mfa_secret}}
                    <label for="otp">2FA Code</label>
                    <input type="text" id="otp" name="otp" autocomplete="off" pattern="[0-9]{6}" required />
                {{?}}
                <a href="/transfer" class="border-button ">{{=it.T("Back")}}</a>
                <input class="border-button right blue" type="submit"/>
                <input type="hidden" name="transfer-id" value="{{= it.id}}" />
            </form>
        </div>
    </div>
</div>
#}}

{{#def.include('./template/main_old')}}
